

<app-accueil></app-accueil>

<section class="dashboard" >

  <div class="dash-content">
        <div class="activity">

          <div class="alert alert-danger" *ngIf="errorMessage">
            <span> {{ errorMessage }}</span>
          </div>

          <div class="alert alert-success" *ngIf="succesMessage">
            <span> {{ succesMessage }} </span>
          </div>

        <div class="title justify-content-between">

          <div class="d-flex">
            <i class="uil uil-clock-three"></i>
            <span class="text">Liste des Matiere</span>
          </div>

          <div class="button-add">
            <a class="btn btn-primary fw-bold " (click)="openAddDialog(null)">+ Ajouter</a>
          </div>

        </div>

        <div class="content">

          <table class="table" >
            <thead class="table-primary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Coef</th>
                <th scope="col" class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let matiere of matieres">
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.nom }}</td>
                <td>{{ matiere.coef }}</td>
                <td>
                  <div class="d-flex float-end gap-3">
                    <a class="btn btn-outline-primary btn-sm" (click)="openAddDialog(matiere)">modifier</a>
                    <a class="btn btn-outline-primary btn-sm" (click)="deleteMatiere(matiere.id!)" >supprimer</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>


      </div>

</div>
</section>


<ng-template #addDialog>

  <div class="m-4">

    <h2> {{ selectedMatiere ? 'Modifier un élève' : 'Ajouter un élève' }}</h2>

    <form (submit)="saveMatiere()" class="row g-3" novalidate>

      <input type="hidden" name="id" [(ngModel)]="newMatiere.id">

      <div class="col-md-6">
        <label class="form-label"  for="validationCustom03">Nom</label>
        <input class="form-control" id="validationCustom03" type="text" name="nom" [(ngModel)]="newMatiere.nom" required>
      </div>

      <div class="col-md-6">
        <label class="form-label">Prénom</label>
        <input class="form-control" type="text" name="coef" [(ngModel)]="newMatiere.coef" required>
      </div>


      <div class="mt-4 d-flex gap-3 ">
        <button class="btn btn-primary w-50" type="submit" (click)="closeDialog()">{{ selectedMatiere ? 'Modifier' : 'Ajouter' }}</button>
        <a class="btn btn-outline-secondary w-50" (click)="closeDialog()">Annuler</a>
      </div>

    </form>

  </div>

</ng-template>

