<nav>
  <div class="logo-name">
      <div class="logo-image">
         <img src="images/logo.png" alt="">
      </div>

      <span class="logo_name">Logo</span>
  </div>

  <div class="menu-items">
      <ul class="nav-links">
          <li><a href="listeEleve">
              <i class="uil uil-estate"></i>
              <span class="link-name">Eleves</span>
          </a></li>
          <li><a href="listMatiere">
              <i class="uil uil-files-landscapes"></i>
              <span class="link-name">Matieres</span>
          </a></li>
          <li><a href="listNote">
              <i class="uil uil-chart"></i>
              <span class="link-name">Notes</span>
          </a></li>

      </ul>

      <ul class="logout-mode">
          <li><a href="#">
              <i class="uil uil-signout"></i>
              <span class="link-name">Logout</span>
          </a></li>

          <li class="mode">
              <a href="#">
                  <i class="uil uil-moon"></i>
              <span class="link-name">Dark Mode</span>
          </a>

          <div class="mode-toggle">
            <span class="switch"></span>
          </div>
      </li>
      </ul>
  </div>

</nav>
