

<app-accueil></app-accueil>

<section class="dashboard" >

  <div class="dash-content">
        <div class="activity">

          <div class="alert alert-danger" *ngIf="errorMessage">
            <span> {{ errorMessage }}</span>
          </div>

          <div class="alert alert-success" *ngIf="succesMessage">
            <span> {{ succesMessage }} </span>
          </div>

        <div class="title justify-content-between">

          <div class="d-flex">
            <i class="uil uil-clock-three"></i>
            <span class="text">Liste des eleves</span>
          </div>

          <div class="button-add">
            <a class="btn btn-primary fw-bold " (click)="openAddDialog(null)">+ Ajouter</a>
          </div>

        </div>

        <div class="content">

          <table class="table" >
            <thead class="table-primary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Sexe</th>
                <th scope="col">Date de Naissance</th>
                <th scope="col" class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eleve of eleves">
                <td>{{ eleve.id }}</td>
                <td>{{ eleve.nom }}</td>
                <td>{{ eleve.prenom }}</td>
                <td>{{ eleve.sexe }}</td>
                <td>{{ eleve.dateN }}</td>
                <td>
                  <div class="d-flex float-end gap-3">
                    <button class="btn btn-outline-info btn-sm" [routerLink]="['/bulletin/eleve', eleve.id]">Bulletin</button>
                    <a class="btn btn-outline-primary btn-sm" (click)="openAddDialog(eleve)">modifier</a>
                    <a class="btn btn-outline-primary btn-sm" (click)="deleteEleve(eleve.id!)" >supprimer</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>


      </div>

</div>
</section>


<ng-template #addDialog>

  <div class="m-4">

    <h2> {{ selectedEleve ? 'Modifier un élève' : 'Ajouter un élève' }}</h2>

    <form (submit)="saveEleve()" class="row g-3 needs-validation" novalidate>

      <input type="hidden" name="id" [(ngModel)]="newEleve.id">

      <div class="col-md-6">
        <label class="form-label"  for="validationCustom03">Nom</label>
        <input class="form-control" id="validationCustom03" type="text" name="nom" [(ngModel)]="newEleve.nom" required>
      </div>

      <div class="col-md-6">
        <label class="form-label">Prénom</label>
        <input class="form-control" type="text" name="prenom" [(ngModel)]="newEleve.prenom" required>
      </div>

      <div class="col-md-6">
        <label class="form-label">Sexe</label>
        <select class="form-select" name="sexe" [(ngModel)]="newEleve.sexe" required>
          <option value="M">Masculin</option>
          <option value="F">Féminin</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Date de naissance</label>
        <input class="form-select" type="date" name="dateN" [(ngModel)]="newEleve.dateN" required>
      </div>

      <div class="mt-4 d-flex gap-3 ">
        <button class="btn btn-primary w-50" type="submit" (click)="closeDialog()">{{ selectedEleve ? 'Modifier' : 'Ajouter' }}</button>
        <a class="btn btn-outline-secondary w-50" (click)="closeDialog()">Annuler</a>
      </div>

    </form>

  </div>

</ng-template>

