

<app-accueil></app-accueil>

<section class="dashboard">

  <div class="dash-content">
        <div class="activity">

          <div class="errorMessage" *ngIf="errorMessage">
            <span> {{ errorMessage }}</span>
          </div>

          <div class="succesMessage" *ngIf="succesMessage">
            <span> {{ succesMessage }} </span>
          </div>

        <div class="title">

          <div class="head">
            <i class="uil uil-clock-three"></i>
            <span class="text">Liste des eleves</span>
          </div>

          <div class="button-add">
            <a class="button_add" (click)="openAddDialog(null)">+ Ajouter</a>
          </div>

        </div>

        <div class="content">

          <table class="table" >
            <thead>
              <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th>Date de Naissance</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eleve of eleves">
                <td>{{ eleve.id }}</td>
                <td>{{ eleve.nom }}</td>
                <td>{{ eleve.prenom }}</td>
                <td>{{ eleve.sexe }}</td>
                <td>{{ eleve.dateN }}</td>
                <td>
                  <div class="action">
                    <button (click)="openAddDialog(eleve)">modifier</button>
                    <button (click)="deleteEleve(eleve.id!)" >supprimer</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>


      </div>

</div>
</section>


<ng-template #addDialog>

  <div class="m-4">

    <h2> {{ selectedEleve ? 'Modifier un élève' : 'Ajouter un élève' }}</h2>

    <form (submit)="saveEleve()" class="row g-3 needs-validation" novalidate>

      <div class="col-md-6">
        <label class="form-label"  for="validationCustom03">Nom</label>
        <input class="form-control" id="validationCustom03" type="text" name="nom" [(ngModel)]="newEleve!.nom" required>
        <div class="invalid-feedback">
          Le nom est obligatoire !.
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label">Prénom</label>
        <input class="form-control" type="text" name="prenom" [(ngModel)]="newEleve.prenom" required>
      </div>

      <div class="col-md-6">
        <label class="form-label">Sexe</label>
        <select class="form-select" name="sexe" [(ngModel)]="newEleve.sexe" required>
          <option value="M">Masculin</option>
          <option value="F">Féminin</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Date de naissance</label>
        <input class="form-select" type="date" name="dateN" [(ngModel)]="newEleve.dateN" required>
      </div>

      <div class="mt-4 row g-1">
        <button class="btn btn-primary col-md-5" type="submit">{{ newEleve ? 'Modifier' : 'Ajouter' }}</button>
        <a class="btn btn-outline-secondary col-md-5" (click)="closeDialog()">Annuler</a>
      </div>

    </form>

  </div>

</ng-template>


<style>

  table{
    border: solid 1px #00000041;
    width: 100%;
  }

  th{
    border: solid 1px #00000041;
  }
  td{
    border: solid 1px #00000041;
  }

  .content{
    align-content: center;
  }

  td .action{
    display: flex;gap: 15px;
    justify-content: center;
  }

  .button_add{
    padding: 9px;
    border-color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #0E4BF1;
    cursor: pointer;
  }

  .title{
    display: flex;
    justify-content: space-between;
  }

  .head{
    display: flex;
  }

  .errorMessage span{
    padding: 10px;
    background-color: #ff000076;
    width: 100px;
    color: white;
  }


  .succesMessage span{
    padding: 10px;
    background-color: #00800070;
    color: white;
  }

</style>
